.hero-banner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    background: burlywood;
    align-items: center;
    padding: 10px;
    gap: 8px;
}
/* Media element for Responsiveness
but having issue with Logo */
@media (max-width: 768px) {
    .hero-banner {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        margin-left: 0;
    }
}

.hero-content {
    flex: 1;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    border-radius: 9px;
}

.hero-content h1 {
    color: olivedrab;
    text-align: center;
    margin-bottom: 5px;
}
.hero-content p {
    line-height: 1.7;
}
.btn {
    margin-top: 9px;
    background: #2E8B57;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;

    /* margin-top: 35px;
    background:  #e71212;
    padding: 5px 10px;
    border-radius: 13px;
    cursor: pointer;
    font-weight: bold; */
}

.btn:hover {
    background: #E25822;
}